#gameover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  width: 400px;
  display: none;
  justify-content: space-around;
}

.small_buttons {
  width: 175px;
  font-size: xx-large;
}

#textscore {
  top: 50%;
  left: 50%;
  transform: translate(-250px, 240px);
  position: absolute;
  z-index: 300;
  width: fit-content;
  background-color: white;
  border: 2px black solid;
  display: none;
  justify-content: space-between;
  padding: 2px 10px;
  border-radius: 20px;
}

#powers {
  top: 50%;
  left: 50%;
  transform: translate(100px, 220px);
  position: absolute;
  z-index: 300;
  max-width: 150px;
  width: 100%;
  background-color: white;
  border: 2px black dashed;
  border-radius: 20px;
  display: none;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  height: 50px;
}

#vida {
  font-size: 30px;
  font-weight: 900;
  color: green;
  display: none;
}

#duas_vezes {
  font-size: 30px;
  font-weight: 900;
  color: gold;
  display: none;
}

#shield {
  height: 30px;
  width: 30px;
  display: none;
}

#pause {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 2px;
  /* position: absolute;
  z-index: 10;
  top: 50%;
  right: 50%;
  transform: translate(311.5px, 230px); */
  transition-duration: 0.4s;
}

#keyboardcell {
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 2px;
  /* position: absolute;
  z-index: 10;
  top: 50%;
  right: 50%;
  transform: translate(311.5px, 230px); */
  transition-duration: 0.4s;
  padding: 2px;
}

#score {
  padding-left: 2px;
}

#pause_screen {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 1000;
  position: absolute;
  width: 516px;
  height: 493px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -42.7%);
  display: none;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  font-size: 100px
}

#game_start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#audio_control {
  /* position: absolute; */
  /* z-index: 10;
  top: 50%;
  right: 50%;
  transform: translate(328px, -100px); */
  background-color: white;
  margin: 10px 0px;
  border-radius: 20px;
  padding: 5px 0px;
  border: 3px black solid;
}

input[type=range][orient=vertical] {
  writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* WebKit */
  width: 50px;
  height: 200px;
  padding: 0 24px;
  outline: none;
  background: transparent;
}