* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gameboard {
  border-width: 3px;
  border-color: black;
  border-style: solid;
}

/* Mate Animation */
/* .wizard {
  width: 256px;
  height: 256px;
  background: left center;
  background-image: "SpriteWizard.png";
  animation: play 0.8s steps(4) infinite;
}

@keyframes play {
  100% { background-position: -1024px; }
} */
